<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <p>Clubhouse</p>
      <nav>
        <% if (currentUser) { %>
            <a href="/logout">Log out</a>
            <a href="/dashboard">Dashboard</a>
        <% } else { %>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        <% } %>
      </nav>
    </header>
    <main><%- include(view) %></main>
    <footer>
        <p>A webcraft.dev creations || ackumeyjoseph1@gmail.com</p>
    </footer>
  </body>
</html>
